<h1> What up <%=current_user.username%>!</h1>

<%= link_to "Update Profile", new_user_profile_path(current_user) %><p><p>
<%= link_to "Edit Password", edit_user_path(current_user) %>
<%=button_to("Delete Account", @user, method: :delete, data: {confirm: "Are you sure?"}) %>