#Coding exercise not related to the project 

# <h6> Search Beach Users </h6>
# <%= form_with url: beaches_users_path, method: :get do |f| %>
#     <%= f.collection_select(:beach_id, Beach.all, :id, :name) %>
#     <%= f.submit "Search" %>
# <%end%>

# <% if @users %>
#     <% @users.uniq.each do |u| %>
#         <li><%= u.username %></li>
#     <%end%>
#  <%end%>
 
