<h1> Beach Show Page </h1>

<%= @beach.name %>
<%= render(partial: "breaks/breaks", locals: {breaks: @beach.breaks}) %>

<%= link_to "Edit", edit_beach_path(@beach) %>

<%=button_to("Delete", @beach, method: :delete, data: {confirm: "Are you sure?"}) %>